
<a target="_blank" rel="noopener noreferrer" class="font-body text-sm font-bold text-on-surface-variant hover:text-primary transition-colors" href="https://www.diglib.org/about/code-of-conduct/">Code of
    Conduct</a>
<a target="_blank" rel="noopener noreferrer" class="font-body text-sm font-bold text-on-surface-variant hover:text-primary transition-colors" href="https://github.com/clirdlf/forum2026">Github</a>