@import "tailwindcss";

@theme {
    --color-brand-light: #FECE56;
    --color-brand-gold: #FCB953;
    --color-brand-orange: #FDA04F;
    --color-brand-brown: #5A4831;

    --dlf-yellow: #FECE56;
        --dlf-gold: #FCB953;
        --dlf-orange: #FDA04F;
        --dlf-brown: #5A4831;
}

@layer components {}
@layer base {}

.portal-frame {
    clip-path: circle(50% at 50% 50%);
    border: 8px solid var(--color-brand-gold);
}

.bg-dots {
  background-image: radial-gradient(var(--color-brand-light) 2px, transparent 2px);
  background-size: 24px 24px;
}