@import 'tailwindcss';

@theme {
  --color-brand-light: #fece56;
  --color-brand-gold: #fcb953;
  --color-brand-orange: #fda04f;
  --color-brand-brown: #5a4831;
  --dlf-yellow: #fece56;
  --dlf-gold: #fcb953;
  --dlf-orange: #fda04f;
  --dlf-brown: #5a4831;
}

.portal-frame {
  clip-path: circle(50% at 50% 50%);
  border: 8px solid var(--color-brand-gold);
}

.bg-dots {
  background-image: radial-gradient(var(--color-brand-light) 2px, transparent 2px);
  background-size: 24px 24px;
}
